<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
</head>

<body>

    <h1>Contact us</h1>

    <!-- 如果输入信息不符合,将被传到error数组中,并显示报错信息 -->
{% if form.errors %}
        <p style="color:red;">
        Please correct the errors {{ form.errors|pluralize }} below:
        </p>
    {% endif %}


    <form action="" method="post">


        <div class="field">
            {{ form.subject.errors }}
            <label for="id_subject">Subject:</label>
            {{ form.subject }}
        </div>

        <div class="field">
            {{ form.email.errors }}
            <label for="id_email">Your E-mail address:</label>
            {{ form.email }}
        </div>

        <div class="field">
            {{ form.telephone.errors }}
            <label for="id_telephone"> Telephone:</label>
            {{ form.telephone }}
        </div>

            <!--
        <div calss="field">
            {{ form.message.error }}
            <label for="id_message"> Message:</label>
            {{ form.message }}
        </div>


    -->

        <div class="field {% if form.message.errors %} errors {% endif %}">
            {% if form.message.errors %}
                <ul>
                {% for error in form.message.errors %}
                    <li><strong>{{ error }}</strong></li>
                {% endfor %}
                </ul>
            {% endif %}
            <label for="id_message">Message:</label>
            {{ form.message }}
        </div>

            <input type="submit" value="submit">
    </form>

<br> </br>
<hr>
<p>Thanks for visiting my site</p>
</body>
</html>
